/***********HERO NAV************/
.hero {
    margin-left: 250px;

    .hero_nav {
        display: flex;
        align-items: center;
        padding-bottom: 42px;

        h1 {
            font-family: 'Myriad Pro', sans-serif;
            font-weight: bold;
            font-size: 25px;
            color: $primary__color;
            margin-right: 10px;
        }

        .hero_nav_right {
            display: flex;
            align-items: center;
            padding-left: 23px;

            .search_nav {
                width: 391px;
                height: 33px;
                border: 1px solid $gray_color;
                border-radius: 1px;
                background-color: transparent;
                display: flex;
                align-items: center;

                span {
                    font-family: 'Myriad Pro';
                    font-size: 12px;
                    color: $recherche_nav_color;
                    margin-left: 5px;
                }
            }

            .iconFond_hero_nav {
                width: 31px;
                height: 33px;
                border: 1px solid $gray_color;
                background-color: $gray_color;

                .icon_reverse {
                    margin-left: 8px;
                }
            }

            .hero_date {
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                color: $primary__color;
                margin-left: 12px;
            }
        }

    }
}

/***********HERO CHANTIERS************/
.chantier {
    margin-left: 250px;
    width: 684px;
    height: 145px;
    display: flex;
    border: 1px solid #F0EDED;
    border-radius: 2px;
    box-shadow: 2px 2px 2px $border_color;
    margin-bottom: 27px;


    .container_chantier {
        display: flex;
        padding-left: 50px;

        .info_chantier {
            .chantier_brand {
                .text_logo_chantier {
                    font-family: 'Myriad Pro', sans-serif;
                    font-size: 24px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $brand_color;
                }
            }

            .info_brand {
                width: 226px;
                height: 65px;
                font-family: 'Myriad Pro', sans-serif;
                font-size: 14px;
            }
        }

        .info_client {
            display: grid;

            .contact {
                padding: 10px;
            }

            .contact,
            .prenom {
                font-family: 'Inter', sans-serif;
                font-size: 11px;
                color: $primary__color;
            }

            .text_info_client {
                padding: 20px;

                .numero {
                    font-family: 'Inter', sans-serif;
                    font-size: 10px;
                    color: $primary__color;
                }
            }

        }

        .materiel_louer {
            .text_meteriel {
                font-family: 'Inter', sans-serif;
                font-size: 11px;
                color: $primary__color;
                padding: 10px;
            }

            .image_meteriel {
                padding: 5px 25px;
            }
        }

        .line {
            padding: 12px;
        }
    }
}