/*********** HERO NAV ************/
.hero {
    margin-left: 250px;

    .hero_nav {
        display: flex;
        align-items: center;
        padding-bottom: 36px;

        h1 {
            font-family: 'Myriad Pro', sans-serif;
            font-weight: bold;
            font-size: 25px;
            color: $primary__color;
            margin-right: 10px;
        }

        .hero_nav_right {
            display: flex;
            align-items: center;
            padding-left: 23px;

            .search_nav {
                width: 391px;
                height: 33px;
                border: 1px solid $gray_color;
                border-radius: 1px;
                background-color: transparent;
                display: flex;
                align-items: center;

                span {
                    font-family: 'Myriad Pro';
                    font-size: 12px;
                    color: $recherche_nav_color;
                    margin-left: 5px;
                }
            }

            .iconFond_hero_nav {
                width: 31px;
                height: 33px;
                border: 1px solid $gray_color;
                background-color: $gray_color;

                .icon_reverse {
                    margin-left: 8px;
                }
            }

            .hero_nav_right {
                display: flex;
                align-items: center;
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                color: $primary__color;

                .hero_nav_icon_option {
                    margin-left: 5px;
                }
            }
        }
    }
}

/*********** HERO CHANTIERS ************/
.chantier {
    margin-left: 250px;
    width: 800px;
    height: 145px;
    display: flex;
    border: 1px solid #F0EDED;
    border-radius: 2px;
    box-shadow: 2px 2px 2px $border_color;
    margin-bottom: 27px;

    .container_chantier {
        display: -webkit-box;
        margin: 15px;

        .info_chantier {
            margin: 0px 34px;

            .chantier_brand {
                .text_logo_chantier {
                    font-family: 'Myriad Pro', sans-serif;
                    font-size: 24px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $brand_color;
                }
            }

            .info_brand {
                width: 280px;
                height: 65px;
                font-family: 'Myriad Pro', sans-serif;
                font-size: 14px;
                margin: 5px;

                .localisation {
                    display: flex;
                    align-items: center;

                    .adresse {
                        margin: 5px;
                    }
                }

                .numero_dossier {
                    display: flex;
                    align-items: center;

                    .numero {
                        margin: 5px;
                    }
                }

                .date_dossier {
                    display: flex;
                    align-items: center;

                    .date {
                        margin: 5px;
                    }
                }
            }
        }

        .info_client {
            margin: 40px;

            .contact {
                text-transform: uppercase;
                font-weight: 500;
                margin: 0px 0px 5px 0px;
            }

            .prenom {
                margin: 0px 0px 5px 0px;
            }

            .contact,
            .prenom {
                font-family: 'Myriad Pro', sans-serif;
                font-size: 14px;
                color: $primary__color;
            }

            .text_info_client {
                .numero {
                    font-family: 'Myriad Pro', sans-serif;
                    font-size: 14px;
                    color: $primary__color;
                }
            }

        }

        .materiel_louer {
            .text_materiel {
                font-family: 'Myriad Pro', sans-serif;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                color: $primary__color;
                padding: 15px;
            }

            .image_materiel {
                padding: 1px 55px;
            }
        }

        .line {
            padding: 12px;
        }
    }
}