/** mettre les variables ici**/

$primary__color: black;
$secondary_color: purple;
$third_color: white;
$text_polygon_color: #009DF3;
$border_color: #D6D4D4;
$burger_color: #3D3D3D;
$button_color: #A3A2A2;
