/** mettre les variables ici**/

$primary__color: black;
$third_color: white;
$text_polygon_color: #009DF3;
$border_color: #D6D4D4;
$gray_color: #3D3D3D;
$button_color: #A3A2A2;
$recherche_nav_color: #BDBBBB;

