body{
    background-color: $gris_back;
}

#hero {


    #infochantier{

        border-color: $primary__color;
        border-radius: 10px;
        border: 1px;
        width: 865px;
        height: 291px;
    }







}