html {
    font-size: 62.5;
}

body {
    font-size: 1.6rem;
}

header#header {
    nav {
        display: flex;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style-type: none;
        }

        a {
            color: $secondary_color;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 12px;
            padding: 10px 20px;
            font-family: 'Inter', sans-serif;
            font-weight: bold;
        }

        .polygon {
             position: absolute;
        }
    }
}


