html {
    font-size: 62.5;
}

/*********** BODY ************/
body {
    font-size: 1.6rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/*********** MAP ************/
#map {
    width: 205px;
    height: 1020px;
    position: relative;
    margin-left: 50px;
    bottom: 1045px;
    left: 1020px;
}

/*********** HEADER ************/
header#header {
    height: 64px;

    nav {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        height: 62px;
        border-bottom: 1px solid $border_color;
        background-color: white;

        .container_nav {
            display: flex;
        }

        ul {
            display: -webkit-box;
            padding: 0px 0px 0px 80px;
        }

        li {
            list-style-type: none;
        }

        a {
            color: $primary__color;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 12px;
            padding: 10px 20px;
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            display: contents;
        }

        .nav_right {
            padding-left: 690px;
            padding-top: 20px;
        }

        .logo {
            padding: 30px 0px;
            margin: 20px;
        }

        .polygon {
            position: relative;
            text-align: center;
            padding: 0px 38px 0px 38px;
        }

        .polygon-text {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $text_polygon_color;
            font-size: 14px;
        }
    }
}