html {
    font-size: 62.5;
}

body {
    font-size: 1.6rem;
}

header#header {
    height: 64px;
    margin: 2px;
    border-bottom: 1px solid $border_color;

    nav {
        display: flex;
        justify-content: space-between;
        
        ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style-type: none;
        }

        a {
            color: $primary__color;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 12px;
            padding: 10px 20px;
            font-family: 'Inter', sans-serif;
            font-weight: bold;
        }

        .nav_right {
            padding-left: 600px;
        }


        .polygon {
            position: relative;
            text-align: center;
        }

        .polygon-text {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $text_polygon_color;
            font-size: 14px;
            text-align: center;
        }
    }
}

